<%= column_chart @h.map{|r| [r[0], r[1]] } %>
<table>
	<thead>
		<tr>
			<th> Data</th>
			<th> Value</th>
		</tr>
	</thead>
	<tbody>
		<% @h.each.with_index do |data| %>
		<tr>
			<td>
			<%= data[0] %></td>
			<td>
			<%= data[1] %>
			</td></tr>>
		<% end %>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>
				User name
			</th>
			<th>
				Value
			</th>
			<th>
				total
			</th>
		</tr>
	</thead>
	<tbody>
		<% @user.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.pi %></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>
